		<!-- HEADER START -->
        <header class="site-header sticky-header absolute lg:left-8.75 lg:right-8.75 lg:top-8.75 left-0 right-0 top-0 duration-500 z-999 [.site-header.is-fixed]:animate-header-scroll-animation">
    <div class="main-bar-wraper">
        <div class="w-full lg:min-h-30 min-h-20 lg:ps-8.75 px-4 lg:pe-13.75 duration-500 rounded-5xl flex items-center justify-between">
            <div class="flex relative w-full">
                <div class="flex items-center relative z-9 h-20 lg:w-auto w-auto shrink-0">
                    <a href="index.html" class="table-cell align-middle">
                        <img src="assets/images/logo-dark.png" alt="logo" class="object-contain duration-500" fetchpriority="high" width="193" height="81">
                    </a>
                </div>
                <button class="xmenu-toggler lg:hidden float-right mt-4.5 mb-4 md:ml-7 ml-4 size-11 bg-dark-600 relative cursor-pointer max-lg:order-1 max-lg:ms-auto" type="button">
                    <span class="block absolute left-2.5 h-0.5 rounded-px bg-white duration-300 top-3.25 w-5.5"></span>
                    <span class="block absolute left-2.5 h-0.5 rounded-px bg-white duration-0 top-5.5 w-6.25"></span>
                    <span class="block absolute left-2.5 h-0.5 rounded-px bg-white duration-300 top-8 w-4"></span>
                </button>
                <div class="lg:hidden fixed top-0 left-0 bg-black size-full duration-300 z-999 opacity-0 visible pointer-events-none menu-close fade-overlay"></div>
                <div class="flex lg:justify-center lg:basis-auto lg:grow max-lg:flex-col justify-start font-base max-lg:fixed max-lg:h-screen max-lg:px-5 max-lg:top-0 max-lg:-left-75 max-lg:z-9999 max-lg:bg-white max-lg:w-72 max-lg:overflow-auto max-lg:duration-700 header-nav custom-scroll">
                    <div class="flex items-center relative z-9 py-6.25 lg:hidden">
                        <a href="index.html" class="table-cell align-middle">
                            <img src="assets/images/logo-dark.png" alt="" class="object-contain duration-500">
                        </a>
                    </div>
                    <ul class="lg:flex flex-wrap navbar-nav">
                        <li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 relative group">
                            <a class="lg:py-7.5 py-2 xl:px-5 lg:px-2 relative lg:inline-block block text-lg font-medium lg:text-primary text-primary hover:text-secondary" href="index.html">
                                <span class="inline-block">Home</span>
                            </a>
                        </li>
                        <li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 relative group">
                            <a class="lg:py-7.5 py-2 xl:px-5 lg:px-2 relative lg:inline-block block text-lg font-medium lg:text-primary text-primary hover:text-secondary" href="gallery.html">
                                <span class="inline-block">Gallery</span>
                            </a>
                        </li>
                        <li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 relative group">
                            <a class="lg:py-7.5 py-2 xl:px-5 lg:px-2 relative lg:inline-block block text-lg font-medium lg:text-primary text-primary hover:text-secondary" href="indonesia-2026.html">
                                <span class="inline-block">Indonesia 2026</span>
                            </a>
                        </li>
                        <li class="lg:inline-block block max-lg:border-b max-lg:border-gray-200 relative group">
                            <a class="lg:py-7.5 py-2 xl:px-5 lg:px-2 relative lg:inline-block block text-lg font-medium lg:text-primary text-primary hover:text-secondary" href="contact.html">
                                <span class="inline-block">Contact</span>
                            </a>
                        </li>
                    </ul>
                    <div class="lg:hidden block max-lg:p-5 text-center mt-auto">
                        <ul>
                            <li class="inline-block mx-0.5">
                                <a class="size-10 !leading-10 border border-black/10 text-center text-primary fab fa-facebook-f" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=61590921115006"></a>
                            </li>
                            <li class="inline-block mx-0.5">
                                <a class="size-10 !leading-10 border border-black/10 text-center text-primary fab fa-x-twitter" target="_blank" rel="noopener noreferrer" href="https://x.com/iMusafirGlobal"></a>
                            </li>
                            <li class="inline-block mx-0.5">
                                <a class="size-10 !leading-10 border border-black/10 text-center text-primary fab fa-tiktok" target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com/@imusafir.com"></a>
                            </li>
                            <li class="inline-block mx-0.5">
                                <a class="size-10 !leading-10 border border-black/10 text-center text-primary fab fa-instagram" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/imusafir.global/"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hidden lg:flex items-center shrink-0 z-9 h-20 xl:pl-6 ml-auto">
                    <ul class="flex items-center">
                        <li class="inline-flex size-10.5 bg-citrusyellow mr-1.5 rounded-4xl justify-center items-center duration-500 hover:rounded-2lg group">
                            <a class="inline-flex size-9 bg-primary rounded-4xl justify-center items-center duration-500 text-white text-lg group-hover:rounded-2lg" href="https://x.com/iMusafirGlobal" target="_blank" rel="noopener noreferrer" aria-label="X (Twitter)">
                                <i class="fa-brands fa-x-twitter group-hover:rotate-y-[360deg] group-hover:scale-[1.2] !inline-block duration-[0.5s] group-hover:text-citrusyellow"></i>
                            </a>
                        </li>
                        <li class="inline-flex size-10.5 bg-citrusyellow mr-1.5 rounded-4xl justify-center items-center duration-500 hover:rounded-2lg group">
                            <a class="inline-flex size-9 bg-primary rounded-4xl justify-center items-center duration-500 text-white text-lg group-hover:rounded-2lg" href="https://www.facebook.com/profile.php?id=61590921115006" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                                <i class="fa-brands fa-facebook group-hover:rotate-y-[360deg] group-hover:scale-[1.2] !inline-block duration-[0.5s] group-hover:text-citrusyellow"></i>
                            </a>
                        </li>
                        <li class="inline-flex size-10.5 bg-citrusyellow mr-1.5 rounded-4xl justify-center items-center duration-500 hover:rounded-2lg group">
                            <a class="inline-flex size-9 bg-primary rounded-4xl justify-center items-center duration-500 text-white text-lg group-hover:rounded-2lg" href="https://www.instagram.com/imusafir.global/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                                <i class="fa-brands fa-instagram group-hover:rotate-y-[360deg] group-hover:scale-[1.2] !inline-block duration-[0.5s] group-hover:text-citrusyellow"></i>
                            </a>
                        </li>
                        <li class="inline-flex size-10.5 bg-citrusyellow rounded-4xl justify-center items-center duration-500 hover:rounded-2lg group">
                            <a class="inline-flex size-9 bg-primary rounded-4xl justify-center items-center duration-500 text-white text-lg group-hover:rounded-2lg" href="https://www.tiktok.com/@imusafir.com" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
                                <i class="fa-brands fa-tiktok group-hover:rotate-y-[360deg] group-hover:scale-[1.2] !inline-block duration-[0.5s] group-hover:text-citrusyellow"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
		<!-- HEADER END -->
